{% extends 'blog/base.html' %}


{% block messages %}
    {% if messages %}
        {% for msg in messages %}
            <p class="alert alert-{{msg.tags}} text-center">{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endblock messages %}

{% block content %}
    <div class="col-sm-12 py-5">
        <h1 class="mb-5">Dashboard / Update Post</h1>
        <form action="" method="POST" novalidate class="d-inline">
            {% csrf_token %}
            {% for fm in form %}
                {{fm.label_tag}} {{fm}} <span class="text-warning">{{fm.errors|striptags}}</span><br>
            {% endfor %}
            <button class="btn btn-success">Add Post</button>
        </form>        
            <a href="{% url 'dashboard' %}" class="btn btn-warning">Back</a>
    </div>
{% endblock content %}

